# Streamlit secrets (Do not commit secrets to Git)
.streamlit/secrets.toml

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# OS / IDE metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
